body {
  z-index: auto;
  font-family: sans-serif;
  background: rgba(122, 143, 220, 0.98);
  background: -moz-linear-gradient(left, rgba(122, 143, 220, 0.98) 0%, rgba(131, 151, 223, 0.98) 9%, rgba(182, 193, 237, 0.99) 59%, rgba(222, 227, 248, 1) 79%, rgba(222, 227, 248, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(122, 143, 220, 0.98) 0%, rgba(131, 151, 223, 0.98) 9%, rgba(182, 193, 237, 0.99) 59%, rgba(222, 227, 248, 1) 79%, rgba(222, 227, 248, 1) 100%);
  background: -o-linear-gradient(left, rgba(122, 143, 220, 0.98) 0%, rgba(131, 151, 223, 0.98) 9%, rgba(182, 193, 237, 0.99) 59%, rgba(222, 227, 248, 1) 79%, rgba(222, 227, 248, 1) 100%);
  background: -ms-linear-gradient(left, rgba(122, 143, 220, 0.98) 0%, rgba(131, 151, 223, 0.98) 9%, rgba(182, 193, 237, 0.99) 59%, rgba(222, 227, 248, 1) 79%, rgba(222, 227, 248, 1) 100%);
  background: linear-gradient(to right, rgba(122, 143, 220, 0.98) 0%, rgba(131, 151, 223, 0.98) 9%, rgba(182, 193, 237, 0.99) 59%, rgba(222, 227, 248, 1) 79%, rgba(222, 227, 248, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a8fdc', endColorstr='#dee3f8', GradientType=1);
}


.header {
  height: 160px;
  display: flex;
  justify-content: center;
}


.data {
  position: absolute;
  top: 1%;
  width: 20%;
  font-size: 18px;
  color: #9400D3;
}

.logo {
  height: 110px;
  width: auto;
}

.wrap {
  width: 96%;
  margin: 0.5% auto 0;
  display: flex;
  flex-wrap: wrap;
}

.wrap-item {
  width: 30%;
  height: 80px;
  margin: 1% 0.5%;
  padding:0.5%;
}

.img {
  display: block;
  width: 100%;
  height: 80px;
  object-fit: contain;
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 1%;
}


.img:hover, .img:focus {
  transition: all .6s ease-in-out;
  transform: scale(1.10);
  border-radius: 25px;
  border: 2px solid darkviolet;

}
