header {

    text-align: center ;
    height: 160px;
}


.datatime {

    position: absolute;
    top: 10px;
    right: 50px;
    height: 150px;
    width: 300px;
}

h1 {

    color: #8c4b99;
    text-align: center;
}

.logo {
    height: 110px;
    width: auto;
    text-align: auto;

}



body{
    z-index: auto;
    font-family: sans-serif;
    background: rgba(122,143,220,0.98);
    background: -moz-linear-gradient(left, rgba(122,143,220,0.98) 0%, rgba(131,151,223,0.98) 9%, rgba(182,193,237,0.99) 59%, rgba(222,227,248,1) 79%, rgba(222,227,248,1) 100%);
    background: -webkit-linear-gradient(left, rgba(122,143,220,0.98) 0%, rgba(131,151,223,0.98) 9%, rgba(182,193,237,0.99) 59%, rgba(222,227,248,1) 79%, rgba(222,227,248,1) 100%);
    background: -o-linear-gradient(left, rgba(122,143,220,0.98) 0%, rgba(131,151,223,0.98) 9%, rgba(182,193,237,0.99) 59%, rgba(222,227,248,1) 79%, rgba(222,227,248,1) 100%);
    background: -ms-linear-gradient(left, rgba(122,143,220,0.98) 0%, rgba(131,151,223,0.98) 9%, rgba(182,193,237,0.99) 59%, rgba(222,227,248,1) 79%, rgba(222,227,248,1) 100%);
    background: linear-gradient(to right, rgba(122,143,220,0.98) 0%, rgba(131,151,223,0.98) 9%, rgba(182,193,237,0.99) 59%, rgba(222,227,248,1) 79%, rgba(222,227,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a8fdc', endColorstr='#dee3f8', GradientType=1 );
}

.context {
    margin: 0 auto;
    width: 1200px;
    min-height: 400px;

    }



.conimg   {
    margin: 15px;
    margin-left: 20px;
    border-radius: 25px;
    padding: 15px;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    border:2px solid transparent;
    }



.conimg:hover , .conimg:focus  {
    transition: all .4s ease-in-out;
    transform:   scale(1.20);
    border-radius: 15px;
    border: 2px solid darkviolet ;

}

footer {
    text-align: right;
    clear: both;
}
